<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public/h/head.html" title="管理后台首页" main="" key=""/>
</head>

<body class="overflow-hidden">
<div class="wrapper preload">
    <!--顶栏-->
    <include file="Public/h/nav.html"/>

    <!-- 菜单 -->
    <include file="Public/h/menu.html"/>

    <!--主要内容-->
    <div class="main-container">
        <div class="padding-md">
            <!--标题-->
            <div class="jw-box">
                <div class="page-title text-primary">
                    <b>角色管理</b>
                </div>
            </div>
            <div class="jw-box">
                <form>
                    <input type="text" name="name" placeholder="名称">
                    <input type="text" name="short" placeholder="描述">
                    <button>搜索</button>
                </form>
            </div>
            <div class="jw-box">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>#</th>
                        <th>角色名称</th>
                        <th>角色描述</th>
                        <th>操作</th>
                    </tr>
                    <foreach name="role" item="vo">
                        <tr>
                            <td><{$vo.id}></td>
                            <td><{$vo.name}></td>
                            <td><{$vo.short}></td>
                            <td>
                                删除
                                修改
                                权限
                            </td>
                        </tr>
                    </foreach>
                </table>
            </div>
            <!--导入分页-->
            <include file="Public/h/page.html"/>
        </div><!-- ./padding-md -->
    </div><!-- /main-container -->

    <include file="Public/h/foot.html"/>
</div><!-- /wrapper -->
<a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
<include file="Public/h/js.html"/>
</body>
</html>
