<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public/h/head.html" title="角色权限" main="" key=""/>
</head>

<body class="overflow-hidden">
<div class="wrapper preload">
    <!--顶栏-->
    <include file="Public/h/nav.html"/>

    <!--标题-->
    <div class="row">
        <div class="col-sm-6">
            <div class="page-title text-primary">
                <b>Jiawei PHP Admin Framework</b>
            </div>
            <div class="page-sub-header">
                欢迎你，来到 Jiawei PHP Admin Framework!
            </div>
        </div>
    </div>

    <include file="Public/h/foot.html"/>
</div><!-- /wrapper -->
<a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
<include file="Public/h/js.html"/>
</body>
</html>
