<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public/h/head.html" title="角色权限" main="" key=""/>
    <style>
        .item{
            display: inline-block;
            padding: 6px 10px;
            border: 1px solid cornflowerblue;
            margin: 1px;
        }
        label{
            font-weight:normal;
        }
    </style>
</head>

<body class="overflow-hidden">
<div class="wrapper preload">
    <!--顶栏-->
    <include file="Public/h/nav.html"/>

    <!--标题-->
    <div style="padding:12px">

        <div class="jw-box">
            <div class="page-title text-primary">
                <b>角色权限 · <{$role.name}></b><span style="font-size:14px">(<{$role.short}>)</span>
            </div>
        </div>

        <div class="jw-box">
            <b>用户组节点</b> <a class="btn btn-success btn-sm">全选</a>
            <hr>
            <foreach name="node" key="k" item="vo">
                <div class="item">
                    <input id="cb<{$k}>" name="node[]" value="<{$vo.id}>" type="checkbox" <if condition="$vo.checked eq 1">checked="checked"</if>><label for="cb<{$k}>"> <{$vo.name}>
                    <br><{$vo.module}>/<b class="text-danger"><{$vo.controller}></b>/<{$vo.action}></label>
                </div>
            </foreach>
        </div>

        <div class="jw-box">
            <b>用户组菜单</b> <a class="btn btn-success btn-sm">全选</a>
            <hr>
            <foreach name="menu" key="k" item="vo">
                <div class="item">
                    <input id="menu<{$k}>" name="menu[]" value="<{$vo.id}>" type="checkbox" <if condition="$vo.checked eq 1">checked="checked"</if>><label for="menu<{$k}>"> <{$vo.name}>
                    <br><{$vo.url}></label>
                </div>
            </foreach>
        </div>

        <div class="jw-box text-center">
            <button class="btn btn-success">保存权限</button>
        </div>

    </div>


</div><!-- /wrapper -->
<a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
<include file="Public/h/js.html"/>
</body>
</html>
