<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public/h/head.html" title="菜单管理" main="" key=""/>
</head>

<body class="overflow-hidden">
<div class="wrapper preload">
    <!--顶栏-->
    <include file="Public/h/nav.html"/>

    <!-- 菜单 -->
    <include file="Public/h/menu.html"/>

    <!--主要内容-->
    <div class="main-container">
        <div class="padding-md">
            <!--标题-->
            <div class="jw-box">
                <div class="page-title text-primary">
                    <b>菜单管理</b>
                </div>
            </div>
            <div class="jw-box">
                <form>
                    <input type="text" name="name" placeholder="名称">
                    <input type="text" name="url" placeholder="节点">
                    <button>搜索</button>
                    <a class="btn btn-sm btn-primary pull-right" onclick="$('#add-mb').modal()">新增菜单</a>
                </form>
            </div>
            <div class="jw-box">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>#</th>
                        <th>菜单名称</th>
                        <th>节点位置</th>
                        <th>icon</th>
                        <th>级数</th>
                        <th>父级菜单(ID)</th>
                        <th>操作</th>
                    </tr>
                    <foreach name="menu" item="vo">
                        <tr>
                            <td><{$vo.id}></td>
                            <td><{$vo.name}></td>
                            <td><{$vo.url}></td>
                            <td><i class="fa fa-<{$vo.icon}>"></i> <{$vo.icon}></td>
                            <td><{$vo.type}></td>
                            <td><{$vo.parent_id}></td>
                            <td>
                                <a class="text-danger" onclick="delTip('<{$vo.id}>')">删除</a>
                                <a class="text-primary change-btn">修改</a>
                            </td>
                        </tr>
                    </foreach>
                </table>
            </div>
            <!--导入分页-->
            <include file="Public/h/page.html"/>
        </div><!-- ./padding-md -->
    </div><!-- /main-container -->

    <!--新增菜单-->
    <div class="modal fade" id="add-mb">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">新增菜单</h4>
                </div>
                <form action="__CONTROLLER__/add" method="post">
                <div class="modal-body">
                    <div class="form-group m-bottom-md">
                        <label>菜单级数</label>
                        <select name="type" class="form-control type_sel">
                            <option value="1">一级菜单</option>
                            <option value="2">二级菜单</option>
                        </select>
                    </div>
                    <div class="form-group m-bottom-md parent_sel" style="display: none">
                        <label>父级菜单</label>
                        <select name="parent_id" class="form-control">
                            <foreach name="menux" item="vo">
                                <option value="<{$vo.id}>"><{$vo.name}></option>
                            </foreach>
                        </select>
                    </div>
                    <div class="form-group m-bottom-md">
                        <label>菜单名称</label>
                        <input type="text" name="name" class="form-control" placeholder="菜单名称" required>
                    </div>
                    <div class="form-group m-bottom-md">
                        <label>菜单图标</label>
                        <input type="text" name="icon" class="form-control" placeholder="菜单图标" value="star" required>
                    </div>
                    <div class="form-group m-bottom-md">
                        <label>跳转节点</label>
                        <input type="text" name="url" class="form-control" placeholder="节点" required>
                    </div>
                    <div class="form-group m-bottom-md">
                        <label>菜单排序</label>
                        <input type="text" name="sort" class="form-control" placeholder="排序" value="0">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary">添加菜单</button>
                </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--修改菜单-->
    <div class="modal fade" id="upd-mb">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">修改菜单</h4>
                </div>
                <form action="__CONTROLLER__/add" method="post">
                <div class="modal-body">
                    <div class="form-group m-bottom-md">
                        <label>菜单级数</label>
                        <select name="type" class="form-control type_sel">
                            <option value="1">一级菜单</option>
                            <option value="2">二级菜单</option>
                        </select>
                    </div>
                    <div class="form-group m-bottom-md parent_sel" style="display: none">
                        <label>父级菜单</label>
                        <select name="parent_id" class="form-control">
                            <foreach name="menux" item="vo">
                                <option value="<{$vo.id}>"><{$vo.name}></option>
                            </foreach>
                        </select>
                    </div>
                    <div class="form-group m-bottom-md">
                        <label>菜单名称</label>
                        <input type="text" name="name" class="form-control" placeholder="菜单名称" required>
                    </div>
                    <div class="form-group m-bottom-md">
                        <label>菜单图标</label>
                        <input type="text" name="icon" class="form-control" placeholder="菜单图标" value="star" required>
                    </div>
                    <div class="form-group m-bottom-md">
                        <label>跳转节点</label>
                        <input type="text" name="url" class="form-control" placeholder="节点" required>
                    </div>
                    <div class="form-group m-bottom-md">
                        <label>菜单排序</label>
                        <input type="text" name="sort" class="form-control" placeholder="排序" value="0">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary">添加菜单</button>
                </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <include file="Public/h/foot.html"/>
    <include file="Public/h/del_modal.html"/>
</div><!-- /wrapper -->
<a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
<include file="Public/h/js.html"/>
<script>
    $('.type_sel').change(function () {
        if($('.type_sel').val()==1){
            $('.parent_sel').hide();
        }else{
            $('.parent_sel').show();
        }
    });
</script>
</body>
</html>
